$baseFontsSrc: '../fonts/';
@mixin fonts($fonts) {
  @each $fontName, $variants in $fonts {
    @each $varianProps in $variants {
      @font-face {
        font-family: $fontName;
        font-style: map-get($varianProps, font-style);
        font-weight: map-get($varianProps, font-weight);
        src: url($baseFontsSrc + map-get($varianProps, src)) format(map-get($varianProps, format));
      }
    }
  }
}

$fonts: (
  'AvenirNextLTPro': ((
      font-style: normal,
      font-weight: 400,
      src: 'AvenirNextLTPro-Regular.otf',
      format: 'opentype'
    ),
    (
      font-style: normal,
      font-weight: 500,
      src: 'AvenirNextLTPro-Medium.otf',
      format: 'opentype'
    ),
    (
      font-style: normal,
      font-weight: 600,
      src: 'AvenirNextLTPro-Demi.otf',
      format: 'opentype'
    ))
);

// @include fonts($fonts);
